# Reference: https://github.com/argoproj/argo-helm/blob/argo-cd-10.3.3/charts/argo-cd/values.yaml

## Argo CD configuration
## Ref: https://github.com/argoproj/argo-cd
##

nameOverride: argocd

global:
  domain: ${argocd_domain}
  logging:
    format: json
  networkPolicy:
    create: false

configs:
  cm:
    timeout.reconciliation: 180s
    server.rbac.log.enforce.enable: true
    statusbadge.enabled: true
    url: https://${argocd_domain}
    oidc.config: |
      name: auth0
      issuer: https://${argocd_auth0_domain}/

      clientID: ${argocd_auth0_client_id}
      clientSecret: $argocd-auth0-secret:client_secret

      # Optional set of OIDC scopes to request. If omitted, defaults to: ["openid", "profile", "email", "groups"]
      requestedScopes: ["openid", "profile", "email", "https://${auth_oauth2_proxy_host}/groups"]
    resource.exclusions: |
      - apiGroups:
        - repositories.stash.appscode.com
        kinds:
        - Snapshot
        clusters:
        - "*.local"
      - apiGroups:
        - cilium.io
        kinds:
        - CiliumIdentity
        clusters:
        - "*"
  params:
    server.insecure: true
  rbac:
    create: false
  repositories: ${jsonencode({ for repo in argocd_config_repositories : repo.name => repo })}

controller:
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 155m
      memory: 779Mi
  metrics:
    enabled: true
    applicationLabels:
      enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      namespace: ${prometheus_namespace}
    rules:
      enabled: true
      namespace: ${prometheus_namespace}
      spec:
        - alert: ArgoAppMissing
          expr: |
            absent(argocd_app_info) == 1
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "[Argo CD] No reported applications"
            description: >
              Argo CD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.  This needs to be
              resolved for this cloud to continue to maintain state.
        - alert: ArgoAppNotSynced
          expr: |
            argocd_app_info{sync_status!="Synced"} == 1
          for: 12h
          labels:
            severity: warning
          annotations:
            summary: "[{{`{{$labels.name}}`}}] Application not synchronized"
            description: >
              The application [{{`{{$labels.name}}`}} has not been synchronized for over
              12 hours which means that the state of this cloud has drifted away from the
              state inside Git.

dex:
  enabled: false
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 10m
      memory: 42Mi

redis:
  exporter:
    resources:
      limits:
        cpu: 50m
        memory: 64Mi
      requests:
        cpu: 0
        memory: 32Mi
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 20Mi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      namespace: ${prometheus_namespace}

server:
  extensions:
    resources:
      limits:
        cpu: 50m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 84Mi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      namespace: ${prometheus_namespace}
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    ingressClassName: ${argocd_ingress_class_name}
    path: /
    pathType: Prefix
    tls: ${global_ingress_enable_tls}

repoServer:
  resources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 10m
      memory: 131Mi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      namespace: ${prometheus_namespace}

applicationSet:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 53Mi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      namespace: ${prometheus_namespace}

notifications:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 34Mi
%{ if argocd_notifications_slack_enabled ~}
  secret:
    create: false
    name: argocd-notifications-slack-secret
  notifiers:
    service.slack: |
      token: $slack-token
  subscriptions: ${jsonencode(argocd_notifications_subscriptions)}
  triggers:
    trigger.on-deployed: |
      - description: Application is synced and healthy. Triggered once per commit.
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-deployed
        when: app.status.operationState != nil and app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy' and (!time.Parse(app.status.health.lastTransitionTime).Add(1 * time.Minute).Before(time.Parse(app.status.operationState.finishedAt)) or time.Parse(app.status.health.lastTransitionTime).Before(time.Parse(app.status.operationState.startedAt)))
    trigger.on-sync-failed: |
      - description: Application syncing has failed
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-sync-failed
        when: app.status.operationState != nil and app.status.operationState.phase in ['Error', 'Failed']
    trigger.on-health-degraded: |
      - description: Application has degraded
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-health-degraded
        when: app.status.health.status == 'Degraded'
  templates:
    template.app-deployed: |
      message: Application {{.app.metadata.name}} is now running revision {{.app.status.sync.revision}}.
      slack:
        attachments: |
          [{"title": "{{.app.metadata.name}}", "title_link": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}", "color": "#18be52", "fields": [{"title": "Sync Status", "value": "{{.app.status.sync.status}}", "short": true}, {"title": "Revision", "value": "{{.app.status.sync.revision}}", "short": true}]}]
    template.app-sync-failed: |
      message: Application {{.app.metadata.name}} failed to sync revision {{.app.status.sync.revision}}.
      slack:
        attachments: |
          [{"title": "{{.app.metadata.name}}", "title_link": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}", "color": "#e01e5a", "fields": [{"title": "Sync Status", "value": "{{.app.status.sync.status}}", "short": true}, {"title": "Revision", "value": "{{.app.status.sync.revision}}", "short": true}]}]
    template.app-health-degraded: |
      message: Application {{.app.metadata.name}} has degraded.
      slack:
        attachments: |
          [{"title": "{{.app.metadata.name}}", "title_link": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}", "color": "#ecb22e", "fields": [{"title": "Health Status", "value": "{{.app.status.health.status}}", "short": true}, {"title": "Revision", "value": "{{.app.status.sync.revision}}", "short": true}]}]
%{ endif ~}
