---
host_setup_kubernetes_cluster_type: '{{ lookup("env", "kubernetes_cluster_type") or "k3s" }}'
host_setup_sshd_port: '{{ lookup("env", "server_ssh_port") or 22 }}'
host_setup_docker_default_data_path: "/var/lib/docker"
host_setup_etc_hosts_json: "[]"

# Start: install packages
host_setup_install_packages:
  - ca-certificates
  - curl
  - vim
  - jq
# Finish: install packages

# Start: ufw
host_setup_ufw_rules:
  - rule: limit
    port: "{{ lookup('env', 'wireguard_port') or 51820 }}"
    proto: udp
# Finish: ufw

# Start: fail2ban
host_setup_fail2ban_dependencies:
  - fail2ban
host_setup_fail2ban_loglevel: INFO
host_setup_fail2ban_logtarget: /var/log/fail2ban.log
host_setup_fail2ban_syslog_target: /var/log/fail2ban.log
host_setup_fail2ban_syslog_facility: 1
host_setup_fail2ban_socket: /var/run/fail2ban/fail2ban.sock
host_setup_fail2ban_pidfile: /var/run/fail2ban/fail2ban.pid
host_setup_fail2ban_ignoreips:
  - 127.0.0.1/8
  - 192.168.0.0/16
  - 10.0.0.0/8
  - 172.16.0.0/12
host_setup_fail2ban_bantime: 600
host_setup_fail2ban_bantime_factor: 24
host_setup_fail2ban_bantime_maxtime: 5w
host_setup_fail2ban_maxretry: 3
host_setup_fail2ban_findtime: 600
host_setup_fail2ban_backend: systemd
host_setup_fail2ban_banaction: iptables-multiport
host_setup_fail2ban_mta: sendmail
host_setup_fail2ban_protocol: tcp
host_setup_fail2ban_chain: INPUT
host_setup_fail2ban_action: "%(action_)s"
host_setup_fail2ban_services:
  - name: sshd
# Finish: fail2ban

# Start: remove-snapd.yml
host_setup_snapd_purge: true

host_setup_snapd_state: stopped
host_setup_snapd_enabled: false

host_setup_snapd_block_later_installation: true

host_setup_snapd_services:
  - snapd.service

host_setup_snapd_files:
  - /etc/apt/apt.conf.d/20snapd.conf

host_setup_snapd_block_packages: []

host_setup_snapd_defaults_services:
  - snapd.apparmor.service
  - snapd.seeded.service
  - snapd.service

host_setup_snapd_defaults_files:
  - /snap
  - /var/snap
  - /var/lib/snapd
  - /var/cache/snapd
  - /run/snapd-snap.socket
  - /run/snapd.socket
  - /etc/apt/apt.conf.d/20snapd.conf

host_setup_snapd_defaults_block_packages:
  - snapd
  - snap-confine
  - ubuntu-core-snapd-units
  - ubuntu-core-launcher
  - libsnapd-glib1
  - gir1.2-snapd-1
  - libsnapd-qt1
  - snapd-xdg-open
  - qml-module-snapd
# Finish: remove-snapd.yml
