---
- name: Check if kubectl exists
  ansible.builtin.stat:
    path: /usr/local/sbin/kubectl
  register: kubeadm_server_kubectl_file

- name: Get kubectl installed version
  ansible.builtin.command: /usr/local/sbin/kubectl version --client --output=json
  register: kubeadm_server_kubectl_version_output
  changed_when: false
  ignore_errors: true

- name: Set kubectl installed version
  when:
    - kubeadm_server_kubectl_version_output.rc == 0
    - kubeadm_server_kubectl_version_output.stdout | from_json is defined
  ansible.builtin.set_fact:
    kubeadm_server_kubectl_installed_version: "{{ (kubeadm_server_kubectl_version_output.stdout | from_json).clientVersion.gitVersion | regex_replace('^v(.*)$', '\\1') }}"

- name: Display kubectl version information
  ansible.builtin.debug:
    msg: |
      Current kubectl version: {{ kubeadm_server_kubectl_installed_version | default('Not installed') }}
      Target kubectl version: {{ kubectl_version }}
      Upgrade needed: {{ (kubeadm_server_kubectl_installed_version is defined and kubeadm_server_kubectl_installed_version is version(kubectl_version, '<')) | default(true) }}

- name: Install or upgrade kubectl
  when: >
    not kubeadm_server_kubectl_file.stat.exists or
    (kubeadm_server_kubectl_version_output.rc != 0) or
    (kubeadm_server_kubectl_installed_version is defined and kubeadm_server_kubectl_installed_version is version(kubectl_version, '<'))
  block:
    - name: Download kubectl
      ansible.builtin.get_url:
        url: "https://dl.k8s.io/release/v{{ kubectl_version }}/bin/linux/{{ host_machine_architecture }}/kubectl"
        dest: /usr/local/sbin/kubectl
        mode: "0755"
        force: true

    - name: Verify kubectl version after download
      ansible.builtin.command: /usr/local/sbin/kubectl version --client --output=json
      register: kubeadm_server_kubectl_post_download_version
      changed_when: false

    - name: Display kubectl post download version
      ansible.builtin.debug:
        msg: "{{ kubeadm_server_kubectl_post_download_version.stdout }}"

    - name: Display downloaded kubectl version
      ansible.builtin.debug:
        msg: "Downloaded kubectl version: {{ (kubeadm_server_kubectl_post_download_version.stdout | from_json).clientVersion.gitVersion }}"
