kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kubernetesVersion: v{{ kubeadm_version }}
# https://github.com/prometheus-operator/kube-prometheus/blob/main/docs/kube-prometheus-on-kubeadm.md
apiServer:
  extraArgs:
    - name: authorization-mode
      value: "Node,RBAC"
controllerManager:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"
scheduler:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"
# https://github.com/prometheus-community/helm-charts/issues/204#issuecomment-1003558431
etcd:
  local:
    extraArgs:
      - name: listen-metrics-urls:
        value: 'http://0.0.0.0:2381'
---
kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
cgroupDriver: cgroupfs
