rules_folder: /opt/elastalert/rules
scan_subdirectories: true
run_every:
  minutes: 5
buffer_time:
  minutes: 5
es_host: ${elasticsearch_host}
es_port: ${elasticsearch_port}
writeback_index: elastalert
use_ssl: False
verify_certs: True
alert_time_limit:
  minutes: 5

alertmanager_hosts:
  - "http://alertmanager-operated.${monitoring_namespace}.svc:9093"
alertmanager_api_version: v2
alertmanager_alertname: "elastalert"
