production:
  secret_key_base: ${production_secret_key_base}
  otp_key_base: ${production_otp_key_base}
  db_key_base: ${production_db_key_base}
  encrypted_settings_key_base: ${production_encrypted_settings_key_base}
  active_record_encryption_primary_key: ${production_active_record_encryption_primary_key}
  active_record_encryption_deterministic_key: ${production_active_record_encryption_deterministic_key}
  active_record_encryption_key_derivation_salt: ${production_active_record_encryption_key_derivation_salt}
  openid_connect_signing_key: |
    ${production_openid_connect_signing_key}
