production:
  secret_key_base: ${production_secret_key_base}
  otp_key_base: ${production_otp_key_base}
  db_key_base: ${production_db_key_base}
  encrypted_settings_key_base: ${production_encrypted_settings_key_base}
  openid_connect_signing_key: |
    ${production_openid_connect_signing_key}
