[default]

# Setup endpoint
host_base = ${minio_host}
host_bucket = ${minio_host}
bucket_location = us-east-1
use_https = ${minio_use_https}

# Setup access keys
access_key = ${minio_access_key}
secret_key = ${minio_secret_key}

# Enable S3 v4 signature APIs
signature_v2 = False
